#listAllVistaArea {
    /*padding: 16px;*/
}


    #listAllVistaAreaEmpty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 16px;
    }

#listAllVistaArea .radio-container .radio-option input.cc_custom_radio_button:hover {
    cursor: pointer;
}

#listAllVistaArea .radio-container .radio-option {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    background: #fff;
    transition: 150ms ease-in-out all;
}

    #listAllVistaArea .radio-container .radio-option:hover {
        background: #F8F8F8;
    }

    #listAllVistaArea .radio-container .radio-option .buttons-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    #listAllVistaArea .radio-container .radio-option .buttons-box span {
        margin-right: 8px;
    }

        #listAllVistaArea .radio-container .radio-option .buttons-box span:last-child {
            margin-right: 0px;
        }

    #listAllVistaArea .radio-container .radio-option .buttons-box span:hover {
        cursor: pointer;
    }

    #listAllVistaArea .radio-container .radio-option .cc_custom_radio_button {
        margin-right: 8px;
    }

    #listAllVistaArea .radio-container .radio-option .cc_text-limit {
        margin-right: 8px;
    }

#listAllVistaArea .cc_text-limit {
    min-width: 210px;
}

div#tabela_visao_compartilhada_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#datatableVisaoCompartilhada {
    padding: 16px;
}

#datatableVisaoCompartilhada #dttable-description span {
    color: #6F6F6F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

    #datatableVisaoCompartilhada #dttable-description span strong {
        color:#6F6F6F;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }


#dttable-description {
    margin-top: 16px;
    margin-bottom: 16px;
}


#datatableVisaoCompartilhadaArea::-webkit-scrollbar {
    display: none;
}

.goToModel {
    cursor: pointer;
    
}

    .goToModel:hover {
        text-decoration: underline;
    }

.radio-option:hover div.buttons-box span {
    opacity: 1!important;
}

.modal-confirmacao-exclusao-vista .modal-confirmacao-title-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .modal-confirmacao-exclusao-vista .modal-confirmacao-title-area .confirmacao-title {
        color: #353535;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin-left: 12px;
    }

    .modal-confirmacao-exclusao-vista .confirmacao-descricao {
        color: #6F6F6F;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-left: 36px;
        margin-top: 8px;
    }

        .modal-confirmacao-exclusao-vista .confirmacao-descricao strong {
            font-weight: 700;
        }

.modal-confirmacao-exclusao-vista .btn-confirma-exclusao-vista {
    display: block;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #F45757;
    background: #fff;
    color: #F45757;
    transition: 150ms ease-in-out all;
}

    .modal-confirmacao-exclusao-vista .btn-confirma-exclusao-vista:hover {
        background: #F45757;
        color: #fff;
    }